@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(74,40,0,1) 100%);
    width: 100%;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

.navigation{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    position: relative;
    z-index: 2;
}

.navigation-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.navigation-list__item{
    display: inline-block;
}

.navigation-list__item.active::after{
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    position: relative;
    top: 10px;
    left: -15px;
}

.navigation-list__item a{
    color: #fff;
    transition: all 0.3s;
}

.navigation-list__item:not(.active) a:hover{
    border-bottom: 5px solid #DC7000;
}

.nav-btn, .subscribe-btn{
    color: #fff;
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
}

.nav-btn:hover{
    background: #b46715;    
}

.hero{
    padding-bottom: 100px;
    position: relative;
}

.hero--info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 527px;
    padding-top: 70px;
}

.hero--info h2{
    color: #E87D0E;
    font-weight: 600;
    font-size: 20px;
}

.hero--info_title{
    font-weight: 600;
    font-size: 50px;

}

.hero--info_discription{
    font-weight: 500; 
    line-height: 170%;
}

.hero--info__btn{
    width: 194px;
    padding: 14px 32px;
    background: linear-gradient(90deg, rgba(250,131,5,1) 0%, rgba(251,158,60,1) 100%);
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all 1s ease;
}

.hero--info__btn:hover{
    background: #b46715;
}

.hero img{
    position: absolute;
    top: -150px;
    right: -230px;
    z-index: 1;
}

.trends--title{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.trends--title h3{
    font-size: 31px;
    font-weight: 600;
}

.trending--btn, .projects--btn{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
    background: #25211D;
    border: none;
    transition: all 0.5s ease;
}

.trending--btn:hover, .projects--btn:hover{
    transform: scale(1.1);
}

.games{
    margin-top: 20px;
    display: flex;
    gap: 47px;
    width: 100%;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.game span img{
    position: relative;
    top: 6px;
}

.discription{
    width: 800px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0;
}

.banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner h3{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.banner-discription{
    padding: 10px 0;
    width: 55%;
    font-weight: 100;
    line-height: 170%;
}

.banner img{
    margin-bottom: 30px;
    width: 100%;
}

.features{
    background: url(/images/Rectangle\ 5.png) no-repeat center center fixed;
    background-size: cover;
}

.features .container{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    padding-bottom: 40px;
}

.features-title{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    line-height: 170%;
}

.features-discription{
    text-align: center;   
}

.features-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    row-gap: 20px;
    flex-wrap: wrap;
}

.features-info_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    row-gap: 30px;
}

.projects-title{
    font-size: 30px;
    font-weight: 800;
}

.projects-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}

.subscribe{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 10px;
}

.subscribe-title{
    font-size: 30px;
    font-weight: 800;
}

.subscribe-block{
    display: flex;
    justify-content: space-around;
    background: #1C140F;
    padding: 30px 20px;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 70px;
}

.subscribe-block_text{
    width: 636px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.subscribe-block_text h4{
    font-size: 30px;
    font-weight: 600;
}

.subscribe-block_text p{
    font-size: 17px;
}

.subscribe-form input{
    width: 387px;
    outline: none;
    background: #fff;
    padding: 12px;
    padding-right: 120px;
    font-family: "Poppins", serif;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    position: relative;
    right: -100px;
    z-index: 1;
}

.subscribe-form input::placeholder{
    color: #898989;
}

.subscribe-btn{
    position: relative;
    z-index: 2;
}

.footer{
    background: #070707;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
    padding: 30px 0;
}

.footer hr{
    width: 100%;
}

.footer-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 10px 30px;
}

.footer-aboutUs{
    width: 300px;
}

.footer-aboutus_list{
    list-style: none;
}

.footer-aboutus_list__item a{
    text-decoration: none;
    color: #fff;
}

.footer-soc1al{
    justify-content: end;
}

.footer-soc1al_list{
    list-style: none;
    display: flex;
}